<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Main Tab -->
  <ion-tab title="Timer" icon-off="ion-ios-stopwatch" icon-on="ion-ios-stopwatch-outline" md="md-home" href="#/tab/MainPage">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chart Tab -->
  <ion-tab title="Analytics" icon-off="ion-ios-analytics" icon-on="ion-ios-analytics-outline" md="md-analytics" href="#/tab/ChartAnalysis">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Debug -->
  <ion-tab title="Debug" icon="ion-bug" href="#/tab/Bug">
    <ion-nav-view name="tab-bug"></ion-nav-view>
  </ion-tab>


</ion-tabs>
